.App {
  text-align: center;
  background-color: #3B3C3F;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

/*.test{
  color: white;
  background-color: #5E5757;
  border-color: #504848;
}*/

/*.test2{
  color: #897A7A;
  background-color: #897A7A;

}*/

.App-intro {
  font-size: large;
}

.optgroup{
  font-size: 36px;
}

.btn:focus {
  outline: 0;
}

.circle{
  height: 125px;
  width: 125px;
  border-radius: 50%;
}

.circle-sm{
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.remote-header{
  color:black;
  background-color: black;
  border: 1px solid black;
}

.mute{
  font-size: 20px;
}
.last-channel{
  font-size: 20px;
}
.power{
  font-size: 30px;
}

.inputs{
  font-size: 20px;
}

.enter{
  font-size: 30px;
}

.circle-md{
  height: 100px;
  width: 100px;
  border-radius: 50%;

}

.circle-norm{
  color: white;
  background-color: #888888;
  border-color: #636363;
}

/*.square:active:hover{
  color: white;
  background-color: #888888;
  border-color: #636363;
}*/

/*.square:hover{
  color: white;
  background-color: #888888;
  border-color: #636363;
}

.square:visited{
  color: white;
  background-color: #888888;
  border-color: #636363;
}

.square:active {
  color: white;
  background-color: #888888;
  border-color: #636363;
}*/

/*.square:target{
  color: white;
  background-color: #888888;
  border-color: #636363;
}*/



.change{
  margin-top: 10px;
}

.inputss{
  margin-top: 35px;
}
.inputss:hover{
  margin-top: 35px;
}
.square{
  height: 75px;
  width: 100px;
  border-radius: 10%;
  font-size: 25px;
  color: white;
  background-color: #888888;
  border-color: #636363;
}


.square-sm{
  height: 75px;
  width: 75px;
  border-radius: 10%;
  font-size: 25px;
  color: white;
  background-color: #888888;
  border-color: #636363;
}
/*.inputss:active{
  margin-top: 45px;
}*/
/*.inputss:visited{
  margin-top: 45px;
}*/
/* What the f is happening*/
.grey-button {
  color: white;
  background-color: #888888;
  border-color: #636363;
}
.grey-button:focus,
.grey-button.focus {
  color: white;
  background-color: #888888;
  border-color: #636363;
}
.grey-button:hover {
  color: white;
  background-color: #888888;
  border-color: #636363;
}
.grey-button:active,
.grey-button.active,
.open > .dropdown-toggle.grey-button {
  color: white;
  background-color: #888888;
  border-color: #636363;
}
.grey-button:active:hover,
.grey-button.active:hover,
.open > .dropdown-toggle.grey-button:hover,
.grey-button:active:focus,
.grey-button.active:focus,
.open > .dropdown-toggle.grey-button:focus,
.grey-button:active.focus,
.grey-button.active.focus,
.open > .dropdown-toggle.grey-button.focus {
  color: white;
  background-color: #5a5a5a;
  border-color: #4c4b4b;
}
.grey-button:active,
.grey-button.active,
.open > .dropdown-togglesquare {
  background-image: none;
}
.grey-button.disabled:hover,
.grey-button[disabled]:hover,
fieldset[disabled] .grey-button:hover,
.grey-button.disabled:focus,
.grey-button[disabled]:focus,
fieldset[disabled] .grey-button:focus,
.grey-button.disabled.focus,
.grey-button[disabled].focus,
fieldset[disabled] .grey-button.focus {
  background-color: #888888;
  border-color: #636363;
}

.btn:active:focus{
  outline: 0;
}

#container{
  text-align:center;
}
